APP_NAME=rushapp_boilerplate
#APP_ENV=local
APP_ENV={{APP_ENV}}
APP_KEY=base64:+CisysnWxsd4lkP7DKtSIRLXOKBHq5ByGwUFirfA2DI=
#APP_DEBUG=true
APP_DEBUG={{APP_DEBUG}}
#APP_URL=api.rush-app.local
APP_URL={{APP_URL}}

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE={{DB_DATABASE}}
DB_USERNAME={{DB_USERNAME}}
DB_PASSWORD={{DB_PASSWORD}}

MEMCACHED_HOST=127.0.0.1

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME={{MAIL_USERNAME}}
MAIL_PASSWORD={{MAIL_PASSWORD}}
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS={{MAIL_FROM_ADDRESS}}
MAIL_FROM_NAME={{MAIL_FROM_NAME}}
ADMIN_EMAIL={{ADMIN_EMAIL}}

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TELEGRAM_TOKEN={{TELEGRAM_TOKEN}}
TELEGRAM_CHAT_ID={{TELEGRAM_CHAT_ID}}

#USER_FRONT_URL=http://rush-app.local
USER_FRONT_URL={{USER_FRONT_URL}}

JWT_SECRET=6XfFzdHOmlFHOFe8o2GNzQ1YVb0w2aDD9R
